<div class="container">
    <span class="welcome">Welcome to our</span>
    <span class="title">Dynamic Graph Layout Editor</span>
    <span class="get-started">Let's get started!</span>
    <div class="column">
        <button (click)="fileInput.click()">Open project</button>
        <button (click)="navigateToManageFilePage()">Create new project via import</button>
        <button (click)="navigateToCreateNewProjectPage()">Create new project</button>
    </div>
</div>

<input type="file" #fileInput style="display: none" (change)="openProject($event)" accept=".json" />